doctype html5
html
	head
		link(rel='stylesheet', href='/styles/binding/assignment.css')
		link(rel='stylesheet', href='/styles/binding/bind.css')
		link(rel='stylesheet', href='/styles/binding/searchBox.css')
		link(rel='stylesheet', href='/styles/binding/tabs.css')
		link(rel='stylesheet', href='/styles/binding/imageList.css')
		body
			script(type='text/javascript' src='/js/iterator.js')
			script(type='text/javascript' src='/js/binding/my_list.js')
			script(type='text/javascript' src='/js/binding/assignment.js')
			script(type='text/javascript' src='/js/binding/vertical_handler.js')
			script(type='text/javascript' src='/styles/images/symbols.json')
			#container.containerCss
				#leftContainer
					#topContainer
					#contentContainer
						#pictureContainer.cCon.cLR
							#originalPicture
							#buttonContainer
								input(type='button' id='prevBtn' value='' onclick='onPreviousClick()').btn.left
								input(type='button' id='nextBtn' value='' onclick='onNextClick()').btn.right
						#emptyContainer.cCon.cE
						#selectedPicture.cCon.cLR
				#verticalSideBar.handler
				#rightContainer
					#searchContainer
					#tabContainer
						ul(id='tabList')
					#imgContainer
						ul(id='imgList')
			script(type='text/javascript').
				var imageIterator;
				var categoryIndexes = [];
				//getExtractedImages([#{isSymbol_values}],#{img_id},[#{catIndex_values}],createList(createRightContainerContent()));
				getExtractedImages([#{isSymbol_values}],#{img_id},[#{catIndex_values}]);
				_onlyShowSelectedTab(_getCategoryFromIndex(categoryIndexes[imageIterator.currentIndex()]),createList(createRightContainerContent()));
				
				
				document.addEventListener('DOMContentLoaded',function(){
					addListeners();
				});
				