doctype html
html
	head
		link(rel='stylesheet', href='/openlayers/ol.css')
		link(rel='stylesheet', href='/styles/compare.css')
		link(href="/js/colorpicker/index.css" media="all" rel="stylesheet" type="text/css")
		link(href="/js/colorpicker/javascript_implementation/jsColor.css" media="all" rel="stylesheet" type="text/css")
		script(type='text/javascript' src='/openlayers/ol-debug.js')
		script(type='text/javascript' src='/js/util.js')
		script(type='text/javascript' src='/js/compare/compare.js')
		script(type='text/javascript' src='/js/compare/map_operations.js')
		body
			#topLayer
				#from_map_container
					#from_map.map-off
					#drawOptions.map-off
						.drawing
							label Farbe: 
							input(id='colPicker' class='color' value='#000000')
						.drawing
							label Dicke:
							input(id='lineWidth' type='number' value='2').col
						.drawing
							label Vorschau:
							#preview
						.drawing
							label Ausgangskarte rotieren:
							button(id='rotate' value='Rotieren') Rotieren
				#vertical_handler
				#siteplan_container.map-off
					#siteplan
						#topDiv
						#centerDiv
							#leftDiv
							#mapDiv
								#to_map
							#rightDiv
						#bottomDiv
		script(type='text/javascript').
			var t_map,f_map,draw,maxW, maxH;
			
							var imageId = #{img_id},
				positions = [#{positions}],
				img_sources = [#{img_sources}],
				org_sources = [#{org_sources}],
				titles = [#{titles}],
				descriptions = [#{descriptions}];
			
			
			var add_mar_vert = 0,
				add_mar_hor = 0,
				dft_mar = 2,
				margin = 8,
				verticalW = 22,
				borderW = 2;
			
			var linesArray = [],
				startPoints= [],
				endPoints = [],
				colorValues = [],
				widthValues = [];
				
			document.addEventListener('DOMContentLoaded',function(){
				create(0.35);
			});
		script(type="text/javascript" src="/js/colorpicker/colors.js")
		script(type="text/javascript" src="/js/colorpicker/colorPicker.data.js")
		script(type="text/javascript" src="/js/colorpicker/colorPicker.js")
		script(type='text/javascript' src='/js/colorpicker/javascript_implementation/jsColor.js')
		
		script(type="text/javascript").
			var colors = jsColorPicker('input.color', {
				customBG: '#222',
				readOnly: true,
				init: function(elm, colors) {
					elm.style.backgroundColor = elm.value;
					elm.style.color = colors.rgbaMixCustom.luminance > 0.22 ? '#222' : '#ddd';
					}
				});