include layout_extracted
block content
	#container
		#main_image
			img(src='/images/#{img_id}/transformed/#{img_id}.jpg' id='transformedImage')
		script(type='text/javascript').
			var scalingFactor;
			var scr_W 	= window.innerWidth-20;
			var scr_H 	= window.innerHeight-20;
			
			var trImg = document.getElementById('transformedImage');
			
			if(trImg.height / scr_H > trImg.width / scr_W){
				scalingFactor = trImg.height / scr_H;
				trImg.style.height = scr_H+'px';
			} else {
				scalingFactor = trImg.width / scr_W;
				trImg.style.width = scr_W+'px';
			}
			
			var main_div = document.getElementById('main_image');
			main_div.appendChild(trImg);
			
			
			var x_values = [#{x_values}];
			var y_values = [#{y_values}];
			var isSymbol_values = [#{isSymbol_values}];
			
			var extracted_W = x_values[1]-2*x_values[0];
			var extracted_H = y_values[11]-2*y_values[0];
			
			var extracted_W2 = x_values[1]-x_values[0];
			var extracted_H2 = y_values[11]-y_values[0];
			
			var ovr_W = roundDown(extracted_W/5/scalingFactor);
			var ovr_H = ovr_W;
	
			var ovr_list = [];
			var div_list = [];
			for (var i = 0; i <  x_values.length; i++) {
				var div = document.createElement('div');
				div.setAttribute('id','ovrDiv_'+i);
				div.style.backgroundColor='transparent';
				div.style.position='absolute';
				div.style.left = (x_values[i]-x_values[0])/scalingFactor+ovr_W+'px';
				div.style.top = (y_values[i]-y_values[0])/scalingFactor+ovr_H+'px';
					
				
				div.style.width = extracted_W2/scalingFactor+'px';
				div.style.height = extracted_H2/scalingFactor+'px';
				div.style.zIndex=2;
				
				main_div.appendChild(div);
				
				
				div.addEventListener('click',function(event){
					
					targetID = event.target.id;
					var id = targetID.split('_')[1];
					isSymbol_values[id]=!isSymbol_values[id];
					var overlayElement = document.getElementById('overlay_'+id);
					if(!isSymbol_values[id]){
						overlayElement.style.visibility='hidden';
						overlayElement.style.opacity=0.2;
					}else{
						
						overlayElement.style.visibility='visible';
						overlayElement.style.opacity=0.2;
					}
				});
				
				
				var ovr = document.createElement('img');
				ovr.setAttribute('src', '/styles/images/true.png');
				ovr.setAttribute('id','overlay_'+i);
				ovr.style.width=ovr_W+'px';

				ovr.style.position='absolute';
				ovr.style.left=(x_values[i]+extracted_W2)/scalingFactor+'px';
				ovr.style.top=(y_values[i]+extracted_H)/scalingFactor+'px';
				
				if(!isSymbol_values[i]){
					ovr.style.visibility='hidden';
					ovr.style.opacity=0.2;
				}else{
					ovr.style.visibility='visible';
					ovr.style.opacity=0.2;
				}
				
				main_div.appendChild(ovr);
				ovr_list[i]=ovr;
				
				
				
			}
			
			function roundDown(number, decimals) {
			    decimals = decimals || 0;
			    return ( Math.floor( number * Math.pow(10, decimals) ) / Math.pow(10, decimals) );
			}