include layout_extracted
block content
	script(type='text/javascript').
		var img_list = [];
		inverted=!inverted;
		var targetStr = 'overlay_';
		init('#{img_id}',[#{x_values}],[#{y_values}],[#{isSymbol_values}]);
			
		function createDocument(x_values,y_values,isSymbol_values){
			scr_W = window.innerWidth - 20;
			scr_H = window.innerHeight - 20;
				
			if (origin_H / scr_H > origin_W / scr_W) {
				scalingFactor = origin_H / scr_H;
				trImg.style.height = scr_H + 'px';
				
				//createNextButton('/extracted_mt?imageId='+#{img_id}, trImg.width + 20, scr_H/2);
			} else {
				scalingFactor = origin_W / scr_W;
				trImg.style.width = scr_W + 'px';
				
				//createNextButton('/extracted_mt?imageId='+#{img_id}, 50, trImg.height + 20);
			}
		
		
			ovr_W = roundDown(extracted_W / 5 / scalingFactor);
			ovr_H = ovr_W;
		
			
			
		
			for (var i = 0; i < x_values.length; i++) {
				ovr_list[i] = createOverlayDiv(i,'transparent');
				
				var ovr = document.createElement('img');
				ovr.setAttribute('src', '/styles/images/true.png');
				ovr.setAttribute('id','overlay_'+i);
				ovr.style.width=ovr_W+'px';

				ovr.style.position='absolute';
				ovr.style.left=(x_values[i]+extracted_W2)/scalingFactor+'px';
				ovr.style.top=(y_values[i]+extracted_H)/scalingFactor+'px';
				setStyleAccordingToSymbolValue(i, ovr, 1.0, inverted);
				/*if(!isSymbol_values[i]){
					ovr.style.visibility='hidden';
					ovr.style.opacity=0.2;
				}else{
					ovr.style.visibility='visible';
					ovr.style.opacity=0.2;
				}*/
				
				mainDiv.appendChild(ovr);
				img_list[i]=ovr;
				
			}
			
		}
		
		function onDivClick(event) {
			//debugger;
			var targetID = event.target.id;
			var id = targetID.split('_')[1];
			if (!inverted) {
				isSymbol_values[id] = !isSymbol_values[id];
			}
			var target = document.getElementById(targetStr + id);
			setStyleAccordingToSymbolValue(id, target, 1.0, inverted);

		}
		/*	
			
			
			var extracted_W = x_values[1]-2*x_values[0];
			var extracted_H = y_values[11]-2*y_values[0];
			
			var extracted_W2 = x_values[1]-x_values[0];
			var extracted_H2 = y_values[11]-y_values[0];
			
			var ovr_W = roundDown(extracted_W/5/scalingFactor);
			var ovr_H = ovr_W;
	
			var ovr_list = [];
			var div_list = [];
			for (var i = 0; i <  x_values.length; i++) {
				var div = document.createElement('div');
				div.setAttribute('id','ovrDiv_'+i);
				div.style.backgroundColor='transparent';
				div.style.position='absolute';
				div.style.left = (x_values[i]-x_values[0])/scalingFactor+ovr_W+'px';
				div.style.top = (y_values[i]-y_values[0])/scalingFactor+ovr_H+'px';
					
				
				div.style.width = extracted_W2/scalingFactor+'px';
				div.style.height = extracted_H2/scalingFactor+'px';
				div.style.zIndex=2;
				
				main_div.appendChild(div);
				
				
				div.addEventListener('click',function(event){
					
					targetID = event.target.id;
					var id = targetID.split('_')[1];
					isSymbol_values[id]=!isSymbol_values[id];
					var overlayElement = document.getElementById('overlay_'+id);
					if(!isSymbol_values[id]){
						overlayElement.style.visibility='hidden';
						overlayElement.style.opacity=0.2;
					}else{
						
						overlayElement.style.visibility='visible';
						overlayElement.style.opacity=0.2;
					}
				});
				
				
				var ovr = document.createElement('img');
				ovr.setAttribute('src', '/styles/images/true.png');
				ovr.setAttribute('id','overlay_'+i);
				ovr.style.width=ovr_W+'px';

				ovr.style.position='absolute';
				ovr.style.left=(x_values[i]+extracted_W2)/scalingFactor+'px';
				ovr.style.top=(y_values[i]+extracted_H)/scalingFactor+'px';
				
				if(!isSymbol_values[i]){
					ovr.style.visibility='hidden';
					ovr.style.opacity=0.2;
				}else{
					ovr.style.visibility='visible';
					ovr.style.opacity=0.2;
				}
				
				main_div.appendChild(ovr);
				ovr_list[i]=ovr;
				
				
				
			}
			
			*/